services:
  ai-module:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ai-module
    ports:
      - "8001:8001"
    volumes:
      - ./:/app
    env_file:
      - llm_module/.env
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
